@page
@model PersonalJournalApp.Pages.Entries.IndexModel
@using PersonalJournalApp.Models

@{
}


<h1>Journal Entries <a asp-page="/Entries/Create" class="btn btn-dark">+</a></h1><br>

<table class="table">
  <thead>
    <tr>
      	<th scope="col">#</th>
      	<th scope="col">Title</th>
      	<th scope="col">Date</th>
      	<th scope="col">IsFavorite</th>
    </tr>
  </thead>
  
  <tbody>
  @foreach (JournalEntry entry in @Model.entries)
  	{
	    <tr>
	      	<th scope="row">@entry.Id</th>
	      	<td>@entry.Title</td>
	      	<td>@entry.Date</td>
	      	<td>@entry.IsFavorite</td>
	    </tr>
	    <tr>
			<td>
				<a asp-page="/Privacy" type="button" class="btn btn-secondary">Details</a>
				<a asp-page="/Entries/Modify" asp-route-Id="@entry.Id"  type="button" class="btn btn-info">Edit</a>
				<a asp-page="/Entries/Delete" asp-route-RemoveId="@entry.Id" class="btn btn-danger">Delete</a>
				
			</td>
	    </tr>
	}
  </tbody>
</table>
